body{
    font-family: sans-serif;
    margin: 0%;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    margin: 0%;
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: cornsilk;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h4{
    text-align: center;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 40px;
        border-radius: 2%;
    }
}

#main-container{
    margin: 100px;
    width: 600px;
}

table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: rgb(34, 3, 3);
}

tr:nth-child(even){
    background-color: #999;
}

tr:hover td{
    background-color: 369681;
    color: white;
}

.buttonPerfil{
    border: none;
    width: 20%;
    margin: 0px 10px;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.buttonPerfil:hover{
    background: cadetblue;
}